/////////// responsive ///////////

//big desktop
@media only screen and (max-width: 1920px){}

//medium desktop
@media only screen and (min-width: 1440px){}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

//small desktop
@media only screen and (max-width: 1025px) {
}

//tablets
@media only screen and (max-width: 992px) {
  .navbar, .navbar:hover {
    background-color: rgba(209, 209, 211, .98) !important;
  }
  .navbar-nav .nav-link {
    text-align: right;
    padding-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, .06);
  }
}

@media only screen and (max-width: 768px) {}

//mobile
@media only screen and (max-width: 426px) {
  .navbar .navbar-brand {
    font-size: 1.7em;
    img {width: 60px;}
  }
  .col-sm-12 {margin-bottom: 20px;}
  #main .container-fluid{
    &.blue.artist::before {
      opacity: 0.3; background-position: -250px 100px;
    }
    &.yellow.trend::before {
      opacity: 0.3; background-position: calc(100% - -270px) 100px;
    }
  }
}

@media only screen and (max-width: 320px) {}