
$yellow: #ffcb05;
$green-light:#91b496;
$green-dark:#3b543f;
$grey:#2e3131;

html {
  font-size: 100%;
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  color: $grey;
  padding: 0;
  background: #fff;
}
#header {height: 50px;}
.topspace {
  margin-top: 40px;
}

/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {line-height: 1.6em; margin: 0 0 30px 0;}
ul, ol {line-height: 1.6em; margin: 0 0 30px 0; padding: 0; list-style: none;}

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: "Open sans", Helvetica, Arial, sans-serif; font-weight: 400;}
h1 {font-size: 2.5rem;}
h2 {font-size: 2.25rem; margin: 30px 0 60px 0;}
h3 {font-size: 1.875rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.25rem;}

a {color: #d9007f;}
a:hover {color: #98045a;}

.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.3125rem;
}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {max-width: 100%; height: auto;}

/*****************
| | | | | NAV
*****************/

.navbar {
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
  transition: all .2s ease-in;
  &:hover {background-color: rgba(255, 255, 255, 1) !important;}
  .navbar-toggler {
    border: none;
    outline: none;
    position: relative;
    margin-top: -15px;
    .icon-bar {
      background-color: $grey;
      display: block;
      width: 22px;
      height: 2px;
      position: absolute;
      border-radius: 9px;
      opacity: 1;
      left: 5px;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }
    
    .icon-bar:nth-child(2) {top: 10px; transform: rotate(45deg);}
    .icon-bar:nth-child(3) {top: 10px; transform: rotate(-45deg);}
    .icon-bar:nth-child(4) {top: 18px; width: 0%; left: 50%;}
    
    &.collapsed .icon-bar:nth-child(2) {top:0; transform: rotate(0);}
    &.collapsed .icon-bar:nth-child(3) {top:8px; transform: rotate(0);}
    &.collapsed .icon-bar:nth-child(4) {top:16px; width: 22px; left: 5px;}
  }
  .navbar-brand {
    font-family: 'Prompt', cursive !important;
    font-size: 3em;
    transition: all .5s ease-in;
    &:focus, &:hover {
      text-shadow: none;
      color: $yellow;
    }
  }
  .nav-item {
    margin: 0 5px;
    &::after {
      content: '';
      transform: scale(0);
      height: 3px;
      border-radius: 5px;
      display: block;
      width: 100%;
      transition: all .5s ease;
    }
    &.active {
      &::after {
        content: '';
        width: 100%;
        height: 3px;
        transform: scale(1);
        border-radius: 5px;
        display: block;
        background: $grey;
        transition: all .5s ease;
      }
    }
    &:hover {
      color: $yellow;
      &::after {
        content: '';
        transform: scale(1);
        background: $yellow;
      }
    }
    .nav-link {
      font-size: 1.1em;
      font-weight: 200;
      color: $grey;
      &:hover {color: $yellow;}
    }
  }
}

/*********************************************************************


                                MAIN


**********************************************************************/

#main {
  min-height: 100vh;
  margin-top: 50px;
  .container-fluid {
    position: relative;
    padding-top: 50px;
    &.front {
      color: #fff;
      &::before{
        content: '';
        background: url("/esculturacespedes/images/foundry-2.jpg") no-repeat;
        //background: url("/images/foundry-2.jpg") no-repeat;
        background-position: left bottom;
        background-size: cover;
        display: block;
        position: absolute;
        bottom: 0px;
        top: -120px;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }
    &.blue {
      background: url("/esculturacespedes/images/bck/blue-stain.svg") no-repeat;
      //background: url("/images/bck/blue-stain.svg") no-repeat;
      background-position: center 90px;
      background-size: 300px;
      &.artist {
        &::before {
          content: '';
          background: url("/esculturacespedes/images/works/work-1.png") no-repeat;
          //background: url("/images/works/work-1.png") no-repeat;
          background-position: -250px 10px;
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    &.yellow {
      background: url("/esculturacespedes/images/bck/orange-stain.svg") no-repeat;
      //background: url("/images/bck/orange-stain.svg") no-repeat;
      background-position: center 90px;
      background-size: 300px;
      &.trend {
        &::before {
          content: '';
          background: url("/esculturacespedes/images/works/work-2.png") no-repeat;
          //background: url("/images/works/work-2.png") no-repeat; 
          background-position: calc(100% - -50px) 10px;
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    &.grey {
      background: $grey; color: #fff;
      h2 {color: #fff;}
    }
    &.green {
      background: url("/esculturacespedes/images/bck/green-stain.svg") no-repeat;
      //background: url("/images/bck/green-stain.svg") no-repeat;
      background-position: center 90px;
      background-size: 300px;
    }
    .container {
      padding: 50px 0;
    }
  }
}

.sites-slide {height: 200px;}

/*********************************************************************


                                FOOTER


**********************************************************************/

#footer {
  background: $grey;
  padding: 30px 0 20px 0;
  font-size: 1.2em;
  color: #999;
  a {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  }
  h3 {
    font-size: 15px;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: #ccc;
    margin: 0 0 20px;
  }
}

#underfooter {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 14px;
  a {
    color: #aaa;
    &:hover {
      color: #fff;
    }
  }
  p {
    margin: 0;
  }
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  padding: 15px 0;
  margin: 0 10px 0 0;
}

/*********************************************************************


                                RESPONSIVE


**********************************************************************/

@import 'responsive';