
html {
  font-size: 100%;
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #666666;
  padding: 0;
}
.topspace {
  margin-top: 40px;
}

/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: #d9007f;
}
a:hover {
  color: #98045a;
}
.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.3125rem;
}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}
#footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}
#underfooter {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}
#underfooter p {
  margin: 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  padding: 15px 0;
  margin: 0 10px 0 0;
}

/*********************************************************************


                                RESPONSIVE


**********************************************************************/

@import 'responsive';