/* line 7, ../sass/styles.scss */
html {
  font-size: 100%;
}

/* line 10, ../sass/styles.scss */
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  color: #2e3131;
  padding: 0;
  background: #fff;
}

/* line 18, ../sass/styles.scss */
#header {
  height: 50px;
}

/* line 19, ../sass/styles.scss */
.topspace {
  margin-top: 40px;
}

/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
/* line 30, ../sass/styles.scss */
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}

/* line 31, ../sass/styles.scss */
ul, ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

/* line 33, ../sass/styles.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}

/* line 39, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 40, ../sass/styles.scss */
h1 {
  font-size: 2.5rem;
}

/* line 41, ../sass/styles.scss */
h2 {
  font-size: 2.25rem;
  margin: 30px 0 60px 0;
}

/* line 42, ../sass/styles.scss */
h3 {
  font-size: 1.875rem;
}

/* line 43, ../sass/styles.scss */
h4 {
  font-size: 1.5rem;
}

/* line 44, ../sass/styles.scss */
h5 {
  font-size: 1.25rem;
}

/* line 46, ../sass/styles.scss */
a {
  color: #d9007f;
}

/* line 47, ../sass/styles.scss */
a:hover {
  color: #98045a;
}

/* line 49, ../sass/styles.scss */
.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.3125rem;
}

/* line 54, ../sass/styles.scss */
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}

/* line 61, ../sass/styles.scss */
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto;
}

/*****************
| | | | | NAV
*****************/
/* line 67, ../sass/styles.scss */
.navbar {
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transition: all .2s ease-in;
}
/* line 71, ../sass/styles.scss */
.navbar:hover {
  background-color: white !important;
}
/* line 72, ../sass/styles.scss */
.navbar .navbar-toggler {
  border: none;
  outline: none;
  position: relative;
  margin-top: -15px;
}
/* line 77, ../sass/styles.scss */
.navbar .navbar-toggler .icon-bar {
  background-color: #2e3131;
  display: block;
  width: 22px;
  height: 2px;
  position: absolute;
  border-radius: 9px;
  opacity: 1;
  left: 5px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
/* line 90, ../sass/styles.scss */
.navbar .navbar-toggler .icon-bar:nth-child(2) {
  top: 10px;
  transform: rotate(45deg);
}
/* line 91, ../sass/styles.scss */
.navbar .navbar-toggler .icon-bar:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}
/* line 92, ../sass/styles.scss */
.navbar .navbar-toggler .icon-bar:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/* line 94, ../sass/styles.scss */
.navbar .navbar-toggler.collapsed .icon-bar:nth-child(2) {
  top: 0;
  transform: rotate(0);
}
/* line 95, ../sass/styles.scss */
.navbar .navbar-toggler.collapsed .icon-bar:nth-child(3) {
  top: 8px;
  transform: rotate(0);
}
/* line 96, ../sass/styles.scss */
.navbar .navbar-toggler.collapsed .icon-bar:nth-child(4) {
  top: 16px;
  width: 22px;
  left: 5px;
}
/* line 98, ../sass/styles.scss */
.navbar .navbar-brand {
  font-family: 'Prompt', cursive !important;
  font-size: 3em;
  transition: all .5s ease-in;
}
/* line 102, ../sass/styles.scss */
.navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
  text-shadow: none;
  color: #ffcb05;
}
/* line 107, ../sass/styles.scss */
.navbar .nav-item {
  margin: 0 5px;
}
/* line 109, ../sass/styles.scss */
.navbar .nav-item::after {
  content: '';
  transform: scale(0);
  height: 3px;
  border-radius: 5px;
  display: block;
  width: 100%;
  transition: all .5s ease;
}
/* line 119, ../sass/styles.scss */
.navbar .nav-item.active::after {
  content: '';
  width: 100%;
  height: 3px;
  transform: scale(1);
  border-radius: 5px;
  display: block;
  background: #2e3131;
  transition: all .5s ease;
}
/* line 130, ../sass/styles.scss */
.navbar .nav-item:hover {
  color: #ffcb05;
}
/* line 132, ../sass/styles.scss */
.navbar .nav-item:hover::after {
  content: '';
  transform: scale(1);
  background: #ffcb05;
}
/* line 138, ../sass/styles.scss */
.navbar .nav-item .nav-link {
  font-size: 1.1em;
  font-weight: 200;
  color: #2e3131;
}
/* line 142, ../sass/styles.scss */
.navbar .nav-item .nav-link:hover {
  color: #ffcb05;
}

/*********************************************************************


                                MAIN


**********************************************************************/
/* line 155, ../sass/styles.scss */
#main {
  min-height: 100vh;
  margin-top: 50px;
}
/* line 158, ../sass/styles.scss */
#main .container-fluid {
  position: relative;
  padding-top: 50px;
}
/* line 161, ../sass/styles.scss */
#main .container-fluid.front {
  color: #fff;
}
/* line 163, ../sass/styles.scss */
#main .container-fluid.front::before {
  content: '';
  background: url("/esculturacespedes/images/foundry-2.jpg") no-repeat;
  background-position: left bottom;
  background-size: cover;
  display: block;
  position: absolute;
  bottom: 0px;
  top: -120px;
  left: 0;
  right: 0;
  z-index: -1;
}
/* line 178, ../sass/styles.scss */
#main .container-fluid.blue {
  background: url("/esculturacespedes/images/bck/blue-stain.svg") no-repeat;
  background-position: center 90px;
  background-size: 300px;
}
/* line 184, ../sass/styles.scss */
#main .container-fluid.blue.artist::before {
  content: '';
  background: url("/esculturacespedes/images/works/work-1.png") no-repeat;
  background-position: -250px 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 198, ../sass/styles.scss */
#main .container-fluid.yellow {
  background: url("/esculturacespedes/images/bck/orange-stain.svg") no-repeat;
  background-position: center 90px;
  background-size: 300px;
}
/* line 204, ../sass/styles.scss */
#main .container-fluid.yellow.trend::before {
  content: '';
  background: url("/esculturacespedes/images/works/work-2.png") no-repeat;
  background-position: calc(100% - -50px) 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 218, ../sass/styles.scss */
#main .container-fluid.grey {
  background: #2e3131;
  color: #fff;
}
/* line 220, ../sass/styles.scss */
#main .container-fluid.grey h2 {
  color: #fff;
}
/* line 222, ../sass/styles.scss */
#main .container-fluid.green {
  background: url("/esculturacespedes/images/bck/green-stain.svg") no-repeat;
  background-position: center 90px;
  background-size: 300px;
}
/* line 228, ../sass/styles.scss */
#main .container-fluid .container {
  padding: 50px 0;
}

/* line 234, ../sass/styles.scss */
.sites-slide {
  height: 200px;
}

/*********************************************************************


                                FOOTER


**********************************************************************/
/* line 244, ../sass/styles.scss */
#footer {
  background: #2e3131;
  padding: 30px 0 20px 0;
  font-size: 1.2em;
  color: #999;
}
/* line 249, ../sass/styles.scss */
#footer a {
  color: #ccc;
}
/* line 251, ../sass/styles.scss */
#footer a:hover {
  color: #fff;
}
/* line 255, ../sass/styles.scss */
#footer h3 {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}

/* line 264, ../sass/styles.scss */
#underfooter {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 14px;
}
/* line 269, ../sass/styles.scss */
#underfooter a {
  color: #aaa;
}
/* line 271, ../sass/styles.scss */
#underfooter a:hover {
  color: #fff;
}
/* line 275, ../sass/styles.scss */
#underfooter p {
  margin: 0;
}

/* line 279, ../sass/styles.scss */
.follow-me-icons {
  font-size: 30px;
}

/* line 282, ../sass/styles.scss */
.follow-me-icons i {
  padding: 15px 0;
  margin: 0 10px 0 0;
}

/*********************************************************************


                                RESPONSIVE


**********************************************************************/
@media (min-width: 1200px) {
  /* line 10, ../sass/_responsive.scss */
  .container {
    max-width: 1080px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 21, ../sass/_responsive.scss */
  .navbar, .navbar:hover {
    background-color: rgba(209, 209, 211, 0.98) !important;
  }

  /* line 24, ../sass/_responsive.scss */
  .navbar-nav .nav-link {
    text-align: right;
    padding-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
  }
}
@media only screen and (max-width: 426px) {
  /* line 35, ../sass/_responsive.scss */
  .navbar .navbar-brand {
    font-size: 1.7em;
  }
  /* line 37, ../sass/_responsive.scss */
  .navbar .navbar-brand img {
    width: 60px;
  }

  /* line 39, ../sass/_responsive.scss */
  .col-sm-12 {
    margin-bottom: 20px;
  }

  /* line 41, ../sass/_responsive.scss */
  #main .container-fluid.blue.artist::before {
    opacity: 0.3;
    background-position: -250px 100px;
  }
  /* line 44, ../sass/_responsive.scss */
  #main .container-fluid.yellow.trend::before {
    opacity: 0.3;
    background-position: calc(100% - -270px) 100px;
  }
}
