<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Ficha personal</h3>
				<p>Francisco Román Céspedes Aznar<br>
				francisco.cespedes@gmail.com<br>
				0034 600 000 000</p>
			</div>
			<div class="col-md-4">
				<h3>Acceso directo</h3>
				<ul>
					<li><a>Galería</a></li>
					<li><a>Prensa</a></li>
					<li><a>Contacto</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Social</h3>
				<ul class="list-unstyled">
					<li class="float-left mr-3"><a><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a></li>
					<li class="float-left mr-3"><a><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
					<li class="float-left"><a><i class="fa fa-pinterest-square fa-3x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">
			<div class="col">
				<p>&copy; 2019 Bronces Francisco Céspedes</p>
			</div>
		</div> <!-- /row of widgets -->
	</div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- slider http://kenwheeler.github.io/slick/ -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="{{ .Site.BaseURL }}js/aos.js"></script>
<script src="{{ .Site.BaseURL }}js/init.js"></script>

{{ partial "analyticstracking.html" . }}
</body>
</html>
