<main id="main">

	<div class="container-fluid front">
        <div class="section">            
            <article class="container">
                <div class="row">
                    <div class="col-6 d-none d-md-block">
                        <!--img class="img-fluid" src="{{ .Site.BaseURL }}images/francisco-roman-cespedes.jpg"/-->
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p></p>
                        <p class="text-center"><i class="fa fa-heart-o fa-5x" aria-hidden="true"></i></p>
                        <h2 class="text-center">Arte en bronce</h2>
                        <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper, lorem eget mattis laoreet, massa leo semper ex, in sodales risus massa et massa. Curabitur eget ante luctus, commodo ante sed, accumsan arcu. Pellentesque aliquam, mi ornare euismod pellentesque, odio urna lobortis sem, ut sagittis mi lectus a velit. In consectetur convallis tortor, congue ultrices risus aliquam eget. Integer ultricies lectus ut libero feugiat, nec mollis turpis feugiat. Nunc velit nunc, commodo non pretium et, porta sit amet metus. Praesent arcu libero, pharetra id euismod non, condimentum sit amet quam. In porta enim tellus, vitae euismod enim aliquet eget. Donec condimentum nunc non magna condimentum, ac scelerisque ipsum eleifend. Morbi laoreet sapien ut convallis scelerisque. Mauris sit amet est finibus, posuere elit eu, feugiat massa.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="container-fluid blue artist">
        <div class="section">            
            <article class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center">Sobre el artista</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper, lorem eget mattis laoreet, massa leo semper ex, in sodales risus massa et massa. Curabitur eget ante luctus, commodo ante sed, accumsan arcu. Pellentesque aliquam, mi ornare euismod pellentesque, odio urna lobortis sem, ut sagittis mi lectus a velit. In consectetur convallis tortor, congue ultrices risus aliquam eget. Integer ultricies lectus ut libero feugiat, nec mollis turpis feugiat. Nunc velit nunc, commodo non pretium et, porta sit amet metus. Praesent arcu libero, pharetra id euismod non, condimentum sit amet quam. In porta enim tellus, vitae euismod enim aliquet eget. Donec condimentum nunc non magna condimentum, ac scelerisque ipsum eleifend. Morbi laoreet sapien ut convallis scelerisque. Mauris sit amet est finibus, posuere elit eu, feugiat massa.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
    
    <div class="container-fluid yellow trend">
        <div class="section">            
            <article class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center">Tendencia y estilo</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper, lorem eget mattis laoreet, massa leo semper ex, in sodales risus massa et massa. Curabitur eget ante luctus, commodo ante sed, accumsan arcu. Pellentesque aliquam, mi ornare euismod pellentesque, odio urna lobortis sem, ut sagittis mi lectus a velit. In consectetur convallis tortor, congue ultrices risus aliquam eget. Integer ultricies lectus ut libero feugiat, nec mollis turpis feugiat. Nunc velit nunc, commodo non pretium et, porta sit amet metus. Praesent arcu libero, pharetra id euismod non, condimentum sit amet quam. In porta enim tellus, vitae euismod enim aliquet eget. Donec condimentum nunc non magna condimentum, ac scelerisque ipsum eleifend. Morbi laoreet sapien ut convallis scelerisque. Mauris sit amet est finibus, posuere elit eu, feugiat massa.</p>
                    </div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
            </article>
        </div>
    </div>

    <div class="container-fluid basic green">
        <div class="section">            
            <article class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center">Lugares de exposición</h2>
                        <div class="sites-slide"></div>
                    </div>
                </div>
            </article>
        </div>
    </div>

</main>
